<%# TODO: Make sure all of this is covered on this page: 

  Energy efficient PVC Window's, Door's, Composite Door's, French/Patio Door's, Bi Folding Door's, Conservatories, Cladding, Fascia, Soffits and Gutter's.
We can also change the roofs on existing concervatories if your frames are of good condition.
Tiled Canopies above doors.
Car Port's.
EPDM flat roofs.
Joinery undertaken message me for details with any work.
Glass Units and Door Panels replaced.

We replace broken or failed glass units. If your double glazed units have condensation on the inside of the unit or pools of water at the bottom, the unit has failed and needs replacing. At Profound Installation there is no job too small.

 %>

<div class="row">
  <div class="welcome span8">
    <h3>Welcome...</h3>
    <p> 
      Profound Installations is a PVC and EPDM installation company based in the Rochdale and Littleborough area. We also do lots of other handy work, from general joinery and carpentry to fitting windows, doors and conservatories.
    </p>

    <p>
      We take pride in our work and we really mean it when we say that our customers' needs are always our number one priority. Our mission is to ensure that you are happy and completely satisfied with our work, every step of the way. We always strive to give you great value for money while still producing an extremely high standard of work. There is no job too big or small!
    </p>

    <p>
      We have contacts in every trade so don't hesitate to ask if you have any doubts or just need a recommendation. We are always more than happy to help.
    </p>

    <p>
      Go to our <a href="/contact">contact page</a> now and get in touch with us for a free quote, or if you prefer, you can call us on 07827 920721.
    </p>
  </div>
  <div class="span4 company_logos">
    <%= image_tag("rehau.jpg") %>
    <%= image_tag("doorstop.jpg", :class=>"company_logo_right") %><br />
    <%= image_tag("global roofs.jpg") %>
    <%= image_tag("spectus.jpg", :class=>"company_logo_right") %>
  </div>
</div>
<h3>What we do:</h3>
<div class="row services">
  
  <div class="span3 services_links" id="services_nav">
      <ul class="nav nav-list">
        <li><a href="#general-carpentry" class="first"><i class="icon-chevron-right"></i> General Carpentry</a></li>
        <li><a href="#fitted-wardrobes"><i class="icon-chevron-right"></i> Fitted Wardrobes</a></li>
        <li><a href="#windows-and-doors"><i class="icon-chevron-right"></i> Windows and Doors</a></li>
        <li><a href="#conservatories"><i class="icon-chevron-right"></i> Conservatories</a></li>
        <li><a href="#gates-and-fencing"><i class="icon-chevron-right"></i> Gates and Fencing</a></li>
        <li><a href="#pvc-fascia-soffit-and-gutter-replacement"><i class="icon-chevron-right"></i> PVC Fascia, Soffit and Gutter Replacement</a></li>
        <li><a href="#epdm-roofs" class="last"><i class="icon-chevron-right"></i> EPDM Roofs</a></li>
      </ul>
    </div>
  

  <div class="span8 services_main_content">
    <div class="services_left" id="general-carpentry">
      <h4>General Carpentry and Joinery</h4>
      <%= image_tag("fitted_wardrobe.jpg", :style=>"float:left;", :alt=>"image1") %>
      <p>
        We offer a wide range of general carpentry and joinery work, such as fascia and soffits, doors, windows, roofs and flooring. There really is no job too big or small, but if you are not sure about anything, just ask!
      </p>

      <p>
        We have excellent contacts in every trade, so if you feel that something is not really in our line of work, we will be more than happy to offer a recommendation.
      </p>
      
      <p>
        Our main work areas are Rochdale and Littleborough but we can go further, depending on the job.
      </p>
    </div>
    <div class="services_right" id="fitted-wardrobes">
      <h4>Fitted Wardrobes</h4>
      <%= image_tag("fitted_wardrobe.jpg", :alt=>"image1") %>
      <p>
        Pork chop hamburger drumstick, salami meatloaf prosciutto cow strip steak ham chicken andouille chuck jerky. Jerky flank ground round, frankfurter jowl strip steak tenderloin beef shank andouille fatback chicken t-bone turkey tail. Pork capicola leberkas shank boudin pork loin biltong rump short loin strip steak turducken doner corned beef. Chicken ham hock flank tail. Tail ham hock tenderloin pork tri-tip, shank flank bacon chicken pancetta shoulder t-bone ham meatloaf jerky. Chuck drumstick pastrami fatback corned beef. Boudin ground round cow turducken, frankfurter fatback ham tongue doner flank tail pork.
      </p>

      <p>Fatback prosciutto swine boudin sirloin turducken. Andouille spare ribs drumstick strip steak. Tri-tip jerky swine venison chicken chuck. Flank corned beef swine jerky. Short loin strip steak shoulder biltong sirloin bresaola andouille ball tip beef ribs tri-tip ham tongue meatball leberkas chuck.
      </p>
    </div>
    <div class="services_left" id="windows-and-doors">
      <h4>Windows and Doors</h4>
      <%= image_tag("window.jpg", :alt=>"window") %>
      <p>Ham corned beef pig shoulder sausage frankfurter, kielbasa flank pastrami rump andouille turducken tenderloin. Tenderloin chicken shoulder, ball tip pork drumstick capicola sirloin. Ham tongue pork belly shankle, pork swine bresaola chicken. Cow tri-tip rump meatball tail, brisket ham hock.</p>
      
      <%= image_tag("door.jpg", :alt=>"door", :class=>"second_img") %>
      <p>Kielbasa biltong ham pastrami, pork leberkas jowl tongue rump meatball turducken sirloin filet mignon. Brisket frankfurter short loin pastrami chuck pig t-bone tail strip steak leberkas capicola meatball ribeye ham. Prosciutto meatloaf salami, flank frankfurter beef cow chuck shankle shank filet mignon. Filet mignon ground round corned beef tongue turducken frankfurter andouille. Short ribs pancetta chuck leberkas, doner pork belly turducken brisket pig andouille shank hamburger tenderloin pork chop prosciutto.</p>
    </div>
    <div class="services_right" id="conservatories">
      <h4>Conservatories</h4>
      <%= image_tag("conservatory.jpg", :alt=>"image1") %>
      <p>
        Pork chop hamburger drumstick, salami meatloaf prosciutto cow strip steak ham chicken andouille chuck jerky. Jerky flank ground round, frankfurter jowl strip steak tenderloin beef shank andouille fatback chicken t-bone turkey tail. Pork capicola leberkas shank boudin pork loin biltong rump short loin strip steak turducken doner corned beef. Chicken ham hock flank tail. Tail ham hock tenderloin pork tri-tip, shank flank bacon chicken pancetta shoulder t-bone ham meatloaf jerky. Chuck drumstick pastrami fatback corned beef. Boudin ground round cow turducken, frankfurter fatback ham tongue doner flank tail pork.
      </p>

      <p>Fatback prosciutto swine boudin sirloin turducken. Andouille spare ribs drumstick strip steak. Tri-tip jerky swine venison chicken chuck. Flank corned beef swine jerky. Short loin strip steak shoulder biltong sirloin bresaola andouille ball tip beef ribs tri-tip ham tongue meatball leberkas chuck.
      </p>
    </div>
    <div class="services_left" id="gates-and-fencing">
      <h4>Gates and Fencing</h4>
      <%= image_tag("gate.jpg", :style=>"float:left;", :alt=>"gate") %>
      <p>
        Frankfurter pork cow tri-tip strip steak. Boudin meatloaf shank kielbasa shoulder, turkey pig capicola pork shankle t-bone filet mignon biltong. Filet mignon boudin tri-tip strip steak prosciutto. Boudin prosciutto venison, meatloaf shankle salami short ribs chicken strip steak t-bone pig. Bresaola ham ham hock prosciutto capicola.
      </p>
      <p>
        Shankle drumstick shank swine prosciutto, rump meatball pastrami tail jerky jowl spare ribs doner fatback short loin. Pork chop sirloin tongue t-bone. Boudin pork belly short loin biltong, beef ribs kielbasa flank pancetta. Pork salami leberkas turducken. Turducken flank bacon ham hock chuck. Swine beef ribs kielbasa, beef capicola short ribs ham hock turkey strip steak. Boudin sausage hamburger short ribs.
      </p>
    </div>
    <div class="services_right" id="pvc-fascia-soffit-and-gutter-replacement">
      <h4>PVC Fascia, Soffit and Gutter Replacement</h4>
      <%= image_tag("fascia_soffit_and_gutter_replacement.jpg", :alt=>"fascia soffit and gutter replacement") %>
      <p>
        Pork chop hamburger drumstick, salami meatloaf prosciutto cow strip steak ham chicken andouille chuck jerky. Jerky flank ground round, frankfurter jowl strip steak tenderloin beef shank andouille fatback chicken t-bone turkey tail. Pork capicola leberkas shank boudin pork loin biltong rump short loin strip steak turducken doner corned beef. Chicken ham hock flank tail. Tail ham hock tenderloin pork tri-tip, shank flank bacon chicken pancetta shoulder t-bone ham meatloaf jerky. Chuck drumstick pastrami fatback corned beef. Boudin ground round cow turducken, frankfurter fatback ham tongue doner flank tail pork.
      </p>

      <p>Fatback prosciutto swine boudin sirloin turducken. Andouille spare ribs drumstick strip steak. Tri-tip jerky swine venison chicken chuck. Flank corned beef swine jerky. Short loin strip steak shoulder biltong sirloin bresaola andouille ball tip beef ribs tri-tip ham tongue meatball leberkas chuck.
      </p>
    </div>
    <div class="services_left" id="epdm-roofs">
      <h4>EPDM Roofs</h4>
      <%= image_tag("epdm_flatroof.jpg", :alt=>"epdm flat roof") %>
      <p>
        Pig andouille meatloaf pork loin flank. Beef pork loin jowl prosciutto sausage, ham bresaola tail. Ribeye short ribs jowl pork belly ground round ball tip shoulder swine. Sirloin tail andouille, shoulder jerky bacon meatball beef biltong ham beef ribs tri-tip meatloaf. Pork chop pancetta kielbasa tenderloin jowl, andouille leberkas sirloin filet mignon t-bone cow spare ribs ham hock brisket. Flank ground round kielbasa frankfurter pork loin shankle short ribs.

        <%= image_tag("epdm_rubberroof.jpg", :alt=>"epdm rubber roof", :class=>"second_img") %>
        <p>Hamburger t-bone shank bresaola frankfurter leberkas shankle flank beef. Strip steak venison short loin bresaola corned beef beef turducken brisket. Shankle doner andouille leberkas biltong. Tail frankfurter tri-tip, shankle pork loin pork belly shank strip steak biltong hamburger drumstick andouille rump. Ground round pork chop short ribs meatloaf shankle, pork loin meatball kielbasa chuck sirloin tongue swine ball tip bresaola. Short loin andouille meatloaf ground round pastrami ham.
      </p>
    </div>
  </div>
</div>
