<%# TODO: Make sure all of this is covered on this page: 

  Energy efficient PVC Window's, Door's, Composite Door's, French/Patio Door's, Bi Folding Door's, Conservatories, Cladding, Fascia, Soffits and Gutter's.
We can also change the roofs on existing concervatories if your frames are of good condition.
Tiled Canopies above doors.
Car Port's.
EPDM flat roofs.
Joinery undertaken message me for details with any work.
Glass Units and Door Panels replaced.

We replace broken or failed glass units. If your double glazed units have condensation on the inside of the unit or pools of water at the bottom, the unit has failed and needs replacing. At Profound Installation there is no job too small.

 %>

 <%# TODO:
         COMPLETE THE CAROUSEL!!
  %>

<div class="welcome">
  <h3>Welcome...</h3>
  <p>Bacon ipsum dolor sit amet jerky ham hock bresaola doner ribeye pork chop. Flank strip steak ribeye ham t-bone. Venison ham corned beef fatback pancetta shankle sirloin ham hock pastrami shoulder cow hamburger capicola. Shankle meatball pastrami boudin rump jowl kielbasa. Spare ribs tenderloin tongue tri-tip.</p>

  <p>Pork loin capicola ground round salami pork chop prosciutto. Meatloaf spare ribs beef ribs sausage leberkas brisket capicola shank. Filet mignon spare ribs jerky kielbasa ground round tongue. Chuck ground round t-bone, ham biltong salami andouille tenderloin.</p>
</div>

<div class="row services">
  <div class="span3 services_links">
    <h3>Our Services</h3><br />
    <div style="font-size:130%;">
      <p><a href="#">General Carpentry</a></p><br />
      <p><a href="#">Roofs</a></p><br />
      <p><a href="#">Windows and Doors</a></p><br />
      <p><a href="#">Conservatories</a></p><br />
      <p><a href="#">Gates and Fencing</a></p><br />
      <p><a href="#">Fitted Wardrobes</a></p>
    </div>
  </div>
  

  <div class="span8">
    <div class="services_left">
      <h4>General Carpentry</h4>
      <%= image_tag("joiner.jpg", :style=>"float:left;", :alt=>"image1") %>
      <p>
        Frankfurter pork cow tri-tip strip steak. Boudin meatloaf shank kielbasa shoulder, turkey pig capicola pork shankle t-bone filet mignon biltong. Filet mignon boudin tri-tip strip steak prosciutto. Boudin prosciutto venison, meatloaf shankle salami short ribs chicken strip steak t-bone pig. Bresaola ham ham hock prosciutto capicola.
      </p>
      <p>
        Shankle drumstick shank swine prosciutto, rump meatball pastrami tail jerky jowl spare ribs doner fatback short loin. Pork chop sirloin tongue t-bone. Boudin pork belly short loin biltong, beef ribs kielbasa flank pancetta. Pork salami leberkas turducken. Turducken flank bacon ham hock chuck. Swine beef ribs kielbasa, beef capicola short ribs ham hock turkey strip steak. Boudin sausage hamburger short ribs.
      </p>
    </div>
    <div class="services_right">
      <h4>Fitted Wardrobes</h4>
      <%= image_tag("fitted_wardrobe.jpg", :alt=>"image1") %>
      <p>
        Pork chop hamburger drumstick, salami meatloaf prosciutto cow strip steak ham chicken andouille chuck jerky. Jerky flank ground round, frankfurter jowl strip steak tenderloin beef shank andouille fatback chicken t-bone turkey tail. Pork capicola leberkas shank boudin pork loin biltong rump short loin strip steak turducken doner corned beef. Chicken ham hock flank tail. Tail ham hock tenderloin pork tri-tip, shank flank bacon chicken pancetta shoulder t-bone ham meatloaf jerky. Chuck drumstick pastrami fatback corned beef. Boudin ground round cow turducken, frankfurter fatback ham tongue doner flank tail pork.
      </p>

      <p>Fatback prosciutto swine boudin sirloin turducken. Andouille spare ribs drumstick strip steak. Tri-tip jerky swine venison chicken chuck. Flank corned beef swine jerky. Short loin strip steak shoulder biltong sirloin bresaola andouille ball tip beef ribs tri-tip ham tongue meatball leberkas chuck.
      </p>
    </div>
    <div class="services_left">
      <h4>Windows and Doors</h4>
      <%= image_tag("window.jpg", :alt=>"window") %>
      <p>Ham corned beef pig shoulder sausage frankfurter, kielbasa flank pastrami rump andouille turducken tenderloin. Tenderloin chicken shoulder, ball tip pork drumstick capicola sirloin. Ham tongue pork belly shankle, pork swine bresaola chicken. Cow tri-tip rump meatball tail, brisket ham hock.</p>
      
      <%= image_tag("door.jpg", :alt=>"door", :class=>"second_img") %>
      <p>Kielbasa biltong ham pastrami, pork leberkas jowl tongue rump meatball turducken sirloin filet mignon. Brisket frankfurter short loin pastrami chuck pig t-bone tail strip steak leberkas capicola meatball ribeye ham. Prosciutto meatloaf salami, flank frankfurter beef cow chuck shankle shank filet mignon. Filet mignon ground round corned beef tongue turducken frankfurter andouille. Short ribs pancetta chuck leberkas, doner pork belly turducken brisket pig andouille shank hamburger tenderloin pork chop prosciutto.</p>
    </div>
    <div class="services_right">
      <h4>Conservatories</h4>
      <%= image_tag("conservatory.jpg", :alt=>"image1") %>
      <p>
        Pork chop hamburger drumstick, salami meatloaf prosciutto cow strip steak ham chicken andouille chuck jerky. Jerky flank ground round, frankfurter jowl strip steak tenderloin beef shank andouille fatback chicken t-bone turkey tail. Pork capicola leberkas shank boudin pork loin biltong rump short loin strip steak turducken doner corned beef. Chicken ham hock flank tail. Tail ham hock tenderloin pork tri-tip, shank flank bacon chicken pancetta shoulder t-bone ham meatloaf jerky. Chuck drumstick pastrami fatback corned beef. Boudin ground round cow turducken, frankfurter fatback ham tongue doner flank tail pork.
      </p>

      <p>Fatback prosciutto swine boudin sirloin turducken. Andouille spare ribs drumstick strip steak. Tri-tip jerky swine venison chicken chuck. Flank corned beef swine jerky. Short loin strip steak shoulder biltong sirloin bresaola andouille ball tip beef ribs tri-tip ham tongue meatball leberkas chuck.
      </p>
    </div>
    <div class="services_left">
      <h4>Gates and Fencing</h4>
      <%= image_tag("gate.jpg", :style=>"float:left;", :alt=>"gate") %>
      <p>
        Frankfurter pork cow tri-tip strip steak. Boudin meatloaf shank kielbasa shoulder, turkey pig capicola pork shankle t-bone filet mignon biltong. Filet mignon boudin tri-tip strip steak prosciutto. Boudin prosciutto venison, meatloaf shankle salami short ribs chicken strip steak t-bone pig. Bresaola ham ham hock prosciutto capicola.
      </p>
      <p>
        Shankle drumstick shank swine prosciutto, rump meatball pastrami tail jerky jowl spare ribs doner fatback short loin. Pork chop sirloin tongue t-bone. Boudin pork belly short loin biltong, beef ribs kielbasa flank pancetta. Pork salami leberkas turducken. Turducken flank bacon ham hock chuck. Swine beef ribs kielbasa, beef capicola short ribs ham hock turkey strip steak. Boudin sausage hamburger short ribs.
      </p>
    </div>
    <div class="services_right">
      <h4>PVC Fascia, Soffit and Gutter Replacement</h4>
      <%= image_tag("fascia_soffit_and_gutter_replacement.jpg", :alt=>"fascia soffit and gutter replacement") %>
      <p>
        Pork chop hamburger drumstick, salami meatloaf prosciutto cow strip steak ham chicken andouille chuck jerky. Jerky flank ground round, frankfurter jowl strip steak tenderloin beef shank andouille fatback chicken t-bone turkey tail. Pork capicola leberkas shank boudin pork loin biltong rump short loin strip steak turducken doner corned beef. Chicken ham hock flank tail. Tail ham hock tenderloin pork tri-tip, shank flank bacon chicken pancetta shoulder t-bone ham meatloaf jerky. Chuck drumstick pastrami fatback corned beef. Boudin ground round cow turducken, frankfurter fatback ham tongue doner flank tail pork.
      </p>

      <p>Fatback prosciutto swine boudin sirloin turducken. Andouille spare ribs drumstick strip steak. Tri-tip jerky swine venison chicken chuck. Flank corned beef swine jerky. Short loin strip steak shoulder biltong sirloin bresaola andouille ball tip beef ribs tri-tip ham tongue meatball leberkas chuck.
      </p>
    </div>
    <div class="services_left">
      <h4>EPDM Roofs</h4>
      <%= image_tag("epdm_flatroof.jpg", :alt=>"epdm flat roof") %>
      <p>
        Pig andouille meatloaf pork loin flank. Beef pork loin jowl prosciutto sausage, ham bresaola tail. Ribeye short ribs jowl pork belly ground round ball tip shoulder swine. Sirloin tail andouille, shoulder jerky bacon meatball beef biltong ham beef ribs tri-tip meatloaf. Pork chop pancetta kielbasa tenderloin jowl, andouille leberkas sirloin filet mignon t-bone cow spare ribs ham hock brisket. Flank ground round kielbasa frankfurter pork loin shankle short ribs.

        <%= image_tag("epdm_rubberroof.jpg", :alt=>"epdm rubber roof", :class=>"second_img") %>
        <p>Hamburger t-bone shank bresaola frankfurter leberkas shankle flank beef. Strip steak venison short loin bresaola corned beef beef turducken brisket. Shankle doner andouille leberkas biltong. Tail frankfurter tri-tip, shankle pork loin pork belly shank strip steak biltong hamburger drumstick andouille rump. Ground round pork chop short ribs meatloaf shankle, pork loin meatball kielbasa chuck sirloin tongue swine ball tip bresaola. Short loin andouille meatloaf ground round pastrami ham.
      </p>
    </div>
  </div>
</div>



