<h1>Contact Us</h1>

<p>Getting in contact with us is easy! Either use the form below or call us on 0800 123456.</p>
<p>We aim to respond within 24 hours.</p> 


<%= form_tag(contact_index_path, :method=>'post') do %>

  <p>
    <%= label_tag "Name", "Name:" %>
    <%= text_field_tag "Name" %>
  </p>
   <p>
    <%= label_tag "Email", "Email address:" %>
    <%= text_field_tag "Email" %>
  </p>
   <p>
    <%= label_tag "Message", "Your message:" %>
    <%= text_area_tag "Message", nil, :size => "40x10" %>
  </p>

  <p>
    <%= submit_tag 'Submit' %>
  </p>
  
<% end %>
