<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Profound Installations" %></title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "application" %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

  </head>

  <body>

    <% if admin_signed_in? %>
      <%= render 'layouts/admin_bar' %>
    <% end %>

    <%# FLASH MESSAGES START %>
    <% unless flash[:notice].blank? %>
      <div class="alert alert-success">
        <button class="close" data-dismiss="alert" type="button">&times;</button>
        <%= content_tag :div, flash[:notice] %>
      </div>
    <% end %>

    <% unless flash[:error].blank? %>
      <div class="alert alert-error">
        <button class="close" data-dismiss="alert" type="button">&times;</button>
        <%= content_tag :div, flash[:error] %>
      </div>
    <% end %>

    <% unless flash[:alert].blank? %>
      <div class="alert">
        <button class="close" data-dismiss="alert" type="button">&times;</button>
        <%= content_tag :div, flash[:alert] %>
      </div>
    <% end %>
    <%# FLASH MESSAGES END %>

    <%# MODAL START %>
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Edit tagline</h3>
      </div>
      
      <%= form_tag("#", :method=>'post') do %>
        <div class="modal-body">
          <%= text_field_tag "tagline", nil, :value => "#" %>
        </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
        </div>
      <% end %>
    </div>
    <%# MODAL END %>

    <div class="container" id="sitecontainer">
      <div class="row">
        <div class="span4">
          <%= link_to image_tag("logo.png", :size => "322x110", :alt => "Profound Installations"), root_path %>
        </div>
        
        <a href="#myModal" data-toggle="modal" class="edit_text">
          <div class="span4" id="tagline">
           <h3><em>Energy efficient PVC and EPDM installation at its best</em></h3>           
          </div>
        </a>

        <div class="span4" id="contactinfo">
          <h3>Rochdale/Littleborough<br />
         Tel: <span style="color:black;">07827 920721 </span></h3>
        </div>

      </div>
      
    <%# NAVBAR START %>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href=<%= root_path %>>Home</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Testimonials", testimonials_path %></li>
              <li><%= link_to "Gallery", gallery_path %></li>
              <li><%= link_to "Contact", contact_index_path  %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%# NAVBAR END %>

    <div class="content">
       
       <%= yield %>
   
    </div>

      <footer>
        <div class="span5">
          <span>
            &copy; Profound Installations 2012
          </span>
        
          <a class="facebook_button" 
             href="http://www.facebook.com/pages/Profound-Installations/384847928215897">
            <%= image_tag("facebook.png", :alt => "Visit us on Facebook") %>
          </a>
          <%= image_tag("twitter.png", :alt => "Follow us on Twitter") %>
        </div>
        
      </footer>

    </div> <!-- /container -->


  </body>
</html>
