<%# @cmslayout = CmsLayout.first %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Profound Installations" %></title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "application" %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <%#= render 'layouts/admin_bar' if admin_signed_in? %>

    <div class="container" id="sitecontainer">
      
      <div class='row'>
        <div class="span4 logo_div">
          <%= link_to image_tag("/assets/logo.png", :alt => "Profound Installations", :class=>"main_logo"), root_path %>
        </div>
        <div class="span5 tagline">
          <h3>Energy efficient PVC and EPDM installation at its best</h3>
        </div>
        <div class="span3" id="contact_info">
          <h3>Rochdale/Littleborough<br />
              Tel: <span>07827 920721</span></h3>
        </div>

      </div>



        
      <%# NAVBAR START %>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <div class="container nav-collapse">
              <ul class="nav">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Testimonials", testimonials_path %></li>
                <li><%= link_to "Gallery", gallery_path %></li>
                <li><%= link_to "Contact", contact_index_path  %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <%# NAVBAR END %>

<!--       <div class="tagline_border">
        <%#= @cmslayout.tagline.html_safe %>
        <h3 class="tagline">Energy efficient PVC and EPDM installation at its best!</h3>
      </div> -->

      <div class="content">
         
         <%= yield %>
     
      </div>

      <footer>
        <div class="span5">
          <span>
            &copy; Profound Installations 2012
          </span>
        
          <a class="facebook_button" 
             href="http://www.facebook.com/pages/Profound-Installations/384847928215897">
            <%= image_tag("facebook.png", :alt => "Visit us on Facebook") %>
          </a>
          <%= image_tag("twitter.png", :alt => "Follow us on Twitter") %>
        </div>
        
      </footer>

    </div> <!-- /container -->


  </body>

    <%#= javascript_include_tag "includetinymce" %>
    <!--<script type="text/javascript">
      // tinyMCE.init({
      //   // General options
      //   mode : "textareas",
      //   theme : "advanced",
      //   plugins : "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave,visualblocks",

      //   // Theme options
      //   theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
      //   theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
      //   theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
      //   theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft,visualblocks",
      //   // theme_advanced_toolbar_location : "top",
      //   // theme_advanced_toolbar_align : "left",
      //   // theme_advanced_statusbar_location : "bottom",
      //   theme_advanced_resizing : true,

      //   // Example content CSS (should be your site CSS)
      //   content_css : "css/content.css",

      //   // Drop lists for link/image/media/template dialogs
      //   template_external_list_url : "lists/template_list.js",
      //   external_link_list_url : "lists/link_list.js",
      //   external_image_list_url : "lists/image_list.js",
      //   media_external_list_url : "lists/media_list.js",

      //   // Style formats
      //   style_formats : [
      //     {title : 'Bold text', inline : 'b'},
      //     {title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
      //     {title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
      //     {title : 'Example 1', inline : 'span', classes : 'example1'},
      //     {title : 'Example 2', inline : 'span', classes : 'example2'},
      //     {title : 'Table styles'},
      //     {title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
      //   ],
      // });
    </script>-->
</html>
